name: "Continuous Integration"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  latest-jaeger:
    name: Latest Jaeger and Cassandra 4.x
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '11'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull testcontainersofficial/ryuk:0.3.0
      - name: Build docker image
        uses: docker/build-push-action@v2.7.0
        # We need the image for the tests
        with:
          context: .
          push: false
          tags: ghcr.io/jaegertracing/spark-dependencies/spark-dependencies
      - name: compile
        run: ./mvnw --batch-mode clean install -DskipTests
      - name: test
        # pin Jaeger version temporarily to work around build failures
        run: JAEGER_VERSION=1.52.0 ./mvnw --batch-mode test -pl jaeger-spark-dependencies-cassandra

  latest-jaeger-es7:
    name: Latest Jaeger and ES7
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '11'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull testcontainersofficial/ryuk:0.3.0
      - name: compile
        run: ./mvnw --batch-mode clean install -DskipTests -Dversion.elasticsearch.spark=7.17.10
      - name: test
        run: ELASTICSEARCH_VERSION=7.3.0 ./mvnw --batch-mode test -pl jaeger-spark-dependencies-elasticsearch -Dversion.elasticsearch.spark=7.17.10

  latest-jaeger-es8:
    name: Latest Jaeger and ES8
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '11'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull testcontainersofficial/ryuk:0.3.0
      - name: compile
        run: ./mvnw --batch-mode clean install -DskipTests -Dversion.elasticsearch.spark=8.13.4
      - name: test
        run: ELASTICSEARCH_VERSION=8.3.1 ./mvnw --batch-mode test -pl jaeger-spark-dependencies-elasticsearch -Dversion.elasticsearch.spark=8.13.4

  latest-jaeger-es9:
    name: Latest Jaeger and ES9
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '11'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull testcontainersofficial/ryuk:0.3.0
      - name: compile
        run: ./mvnw --batch-mode clean install -DskipTests -Dversion.elasticsearch.spark=9.1.3
      - name: test
        run: ELASTICSEARCH_VERSION=9.1.3 ./mvnw --batch-mode test -pl jaeger-spark-dependencies-elasticsearch -Dversion.elasticsearch.spark=9.1.3
