name: "Continuous Integration"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  latest-jaeger:
    name: Latest Jaeger
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '8'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull quay.io/testcontainers/ryuk:0.2.3
      - name: test
        run: ./mvnw clean test

  latest-jaeger-es7:
    name: Latest Jaeger
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: '8'
      # TODO remove once testcontainers are updated
      - name: pull ryuk image
        run: docker pull quay.io/testcontainers/ryuk:0.2.3
      - name: test
        run: ELASTICSEARCH_VERSION=7.3.0 ./mvnw clean test -pl jaeger-spark-dependencies-elasticsearch
