name: "Continuous Integration"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Jaeger v2 and ${{ matrix.storage_name }}
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - storage_name: "Cassandra 4.x"
            job_tag: "test-cassandra"
            variant: "cassandra"
            project: "jaeger-spark-dependencies-cassandra"

          - storage_name: "Elasticsearch 7"
            job_tag: "test-es7"
            variant: "elasticsearch7"
            project: "jaeger-spark-dependencies-elasticsearch"
            es_spark_ver: "7.17.10"
            es_ver: "7.3.0"

          - storage_name: "Elasticsearch 8"
            job_tag: "test-es8"
            variant: "elasticsearch8"
            project: "jaeger-spark-dependencies-elasticsearch"
            es_spark_ver: "8.13.4"
            es_ver: "8.3.1"

          - storage_name: "Elasticsearch 9"
            job_tag: "test-es9"
            variant: "unified"
            project: "jaeger-spark-dependencies-elasticsearch"
            es_spark_ver: "9.1.3"
            es_ver: "9.1.3"

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'

      - name: Build docker image to be used in tests
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          load: true
          tags: ghcr.io/jaegertracing/spark-dependencies/spark-dependencies:${{ matrix.job_tag }}
          build-args: |
            VARIANT=${{ matrix.variant }}
            ELASTICSEARCH_SPARK_VERSION=${{ matrix.es_spark_ver }}

      - name: Run Maven Tests
        env:
          SPARK_DEPENDENCIES_JOB_TAG: ${{ matrix.job_tag }}
          ELASTICSEARCH_VERSION: ${{ matrix.es_ver }}
          # The es_spark version is only needed when testing Elasticsearch variants
          MAVEN_ES_PROP: ${{ matrix.es_spark_ver == '' && '' || format('-Dversion.elasticsearch.spark={0}', matrix.es_spark_ver) }}
        run: |
          ./mvnw --batch-mode clean test -am \
            -pl ${{ matrix.project }} \
            $MAVEN_ES_PROP
